<div class="owner-buttons ml-5">
  <button id='update-event' class="btn btn-primary data-id={{event._id}}">Update Event</button>
  <button id='delete-event' class="btn btn-danger data-id={{event._id}}">Delete Event</button>
</div>
