<!-- Sign in screen -->
  <div class="sign-in-screen signed-out justify-content-center flex-column">
    <h4 class="p-2">Sign In</h4>
    <form id="sign-in" class="p-2">
      <input class="form-control" type="email" placeholder="Email" name="credentials[email]">
      <input class="form-control" type="password" placeholder="Password" name="credentials[password]">
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <a class='sign-up-link' href="#">New to Eat up? Create an account here.</a>
  </div>
</div>
