<div class="row justify-content-start no-gutters dropdown pl-5">
  <!-- Account dropdown -->
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Account
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <form class="dropdown-item" id="change-password">
      <label class="col-form-label">Change Password</label>
      <input class="form-control" type="password" placeholder="Old Password" name="passwords[old]">
      <input class="form-control" type="password" placeholder="New Password" name="passwords[new]">
      <button class="btn btn-primary" type="submit">Submit</button>
      <button id="sign-out" class="form-control btn btn-primary dropdown-item" type="button">Sign Out</button>
  </form>
  </div>
</div>

<div class='row justify-content-center mt-2 p-4'>
  <!-- contains both rsvp'd and owned events -->
  <button id="see-all-events" class="event-button">See All Events</button>
  <button id="my-events" class="event-button">See My Events</button>
  <button id="my-rsvps" class="event-button">See My RSVP's</button>


<!-- Create an event -->
  <button type="button" class="create-event" data-toggle="modal" data-target="#create-event-modal">
  Create Event
  </button>

  <!-- Modal for creating an event -->
  <div class="modal fade" id="create-event-modal" tabindex="-1" role="dialog" aria-labelledby="createEventModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createEventModalCenterTitle">Create An Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> Please fill in all information. </p>
            <form enctype="multipart/form-data" id="create-event">
              <div class="inputs" style="display: grid;">
                <input type="text" placeholder="name" name="name">
                <input type="text" placeholder="location" name="location">
                <input type="datetime-local" placeholder="When is your event?" name="date">
                <input type="text" placeholder="What is your event all about?" name="description">
                <p>Upload an image for your event!</p>
                <input type="file" name="file">
              </div>
              <button>Create Event</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id='my-created-events'>
<form id='update-my-event'>
</form>
<button id='delete-my-event'>
</button>
</div>
<div id='my-rsvpd-events'>
</div>
<form id='create-event'> -->
<!--
</form> -->
