<!-- Sign up screen -->
<div class="row">
  <div class="sign-up-screen signed-out justify-content-center flex-column">
    <h4>Sign Up</h4>
    <form id="sign-up" class="justify-content-center flex-column">
      <input class="form-control" type="email" placeholder="Email" name="credentials[email]">
      <input class="form-control" type="password" placeholder="Password" name="credentials[password]">
      <input class="form-control" type="password" placeholder="Confirm Password" name="credentials[password_confirmation]">
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <a class='sign-in-link' href='#'>Already have an account? Sign in here.</a>
  </div>
</div>
